*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

.hero{
	height: 20vh;
	width: 100%;
	 background-color: #051629;

}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	
	border-radius: 30px;
	transition: transform .4s; 
	
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #f9004d;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;

}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;

	
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}
.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}



  .main{
     width: 100%;
     height: 50vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #051629;
   }
   
   .main:hover{
   
   background-color:#072242;
   }
   .profile-card{
     position: relative;
     font-family: sans-serif;
     width: 220px;
     height: 220px;
     
	 background-color:#f9004d;
     padding: 10px;
     border-radius: 50%;
     box-shadow: 0 0 22px #3336;
     transition: .6s;
     margin: 0 15px;
   }
   .profile-card:hover{
     border-radius: 10px;
     height: 260px;
	 background-color: #fff;
   }
   .profile-card .img{
     position: relative;
     width: 100%;
     height: 100%;
     transition: .6s;
     z-index: 99;
   }
   .profile-card:hover .img{
     transform: translateY(-60px);
   }
   .img img{
     width: 100%;
     border-radius: 50%;
     box-shadow: 0 0 22px #3336;
     transition: .6s;
   }
   .profile-card:hover img{
     border-radius: 10px;
   }
   .caption{
     text-align: center;
     transform: translateY(-80px);
     opacity: 0;
     transition: .6s;
   }
   .profile-card:hover .caption{
     opacity: 1;
   }
   .caption h3{
     font-size: 21px;
	 color:#0c52a1;
     font-family: sans-serif;
   }
   .caption p{
     font-size: 15px;
     color: #0c52a1;
     font-family: sans-serif;
     margin: 2px 0 9px 0;
   }
   .caption .social-links a{
     color: #333;
    /* margin-right: 15px;

	top: -16px;
    right: -706px;	*/
	 
	padding-left: 150px;
     font-size: 21px;
     transition: .6s;
   }
   .social-links a:hover{
     color: #0c52a1;
	 
   }
   
   
   .player{

   background-color: #0e2742;
   height: 5vh;
   
   font-family: sans-serif;
   font-size:45;
   padding-left:30px;
   
   
   }
   
   .player h2{
   
   text-align: left-center;
   color:#fff;
   
   }
 .caption span{
	
	color: #f9004d;
	font-weight: bold;
   	text-align:center;
	font-size: 30px;
	
	
	
	

	/*   position: absolute;
   bottom:0px;
   right: 16px;
   font-size: 30px; 

   */


}